@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: gray;
}

header {
    display: flexbox;
    width: 100%;
}

nav {
    background-color: #000000;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    justify-content: center;
    display: flex;
}

nav ul li {
    padding: 20px;
    margin: 0 5px;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: transform 0.4s ease;
}

nav ul li:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #000000;
}

p {
    font-size: 20px;
    text-align: center;
    color: #000000;
}