@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

main {
    background-color: aqua;
}

/* Grid */
.grid {
	display: grid;
}

.logo {
	grid-area: logo;
    background-image: url("foto1.png");
    background-size: cover;
}

.nav {
	grid-area: nav;
    background-image: url("foto2.jpg");
    background-size: contain;
}

.content {
	grid-area: content;
    background-image: url("foto3.jpg");
    background-size: contain;
}

.sidenav {
	grid-area: sidenav;
    background-image: url("foto4.jpg");
    background-size: contain;
}

.advert {
	grid-area: advert;
    background-image: url("foto6.jpg");
    background-size: cover;
}

.footer {
	grid-area: footer;
    background-image: url("foto6.jpg");
    background-size:contain;
}

.galeria {
	grid-template-columns: 30% 40% 30%;
	grid-template-rows: 25% 40% 35%;
	grid-template-areas:
		"logo nav nav"
		"sidenav content advert"
		"footer footer footer"
		;
}

/* Grid Item */
.item {
	margin: 5px;
	text-align: center;
	font-size: 1.5em;
}

.grid {
	max-width: 700px;
    height: 100vh;
	margin: 0 auto;
	border: 1px solid #ccc;
}

h1 {
	text-align: center;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
	padding-bottom: 60px;
	margin: 0px;
}

body > div {
	padding: 40px 0;
}

