@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

main {
    background-color: aqua;
}

/* Grid */
.grid {
	display: grid;
}

.logo {
	grid-area: logo;
}

.nav {
	grid-area: nav;
}

.content {
	grid-area: content;
}

.sidenav {
	grid-area: sidenav;
}

.advert {
	grid-area: advert;
}

.footer {
	grid-area: footer;
}

.galeria {
	grid-template-columns: 30% 50% 20%;
	grid-template-rows: 30% 50% 20%;
	grid-template-areas:
		"logo nav nav"
		"sidenav content advert"
		"sidenav footer footer"
		;
}


/* Grid Item */
.item {
	margin: 5px;
	background: green;
	text-align: center;
	font-size: 1.5em;
}

.grid {
	max-width: 700px;
    height: 100vh;
	margin: 0 auto;
	border: 1px solid #ccc;
}

h1 {
	text-align: center;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
	padding-bottom: 60px;
	margin: 0px;
}

body > div {
	padding: 40px 0;
}
